body {
 background-color: black;
 font-family: Arial, Helvetica, sans-serif;
}
/* 导航栏 */
.NavBar {
    position: relative;
    top: 0;
    height: 3.125rem;
    padding: 0 1.25rem 0 1.25rem;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    color: #989898;
    z-index: 999;
}
.live, .search{
    font-size: 1.5rem;
    color: #fff;
    display: block;
}
.pick {
    color: #fff;
    position: relative;
    top: -0.125rem;
}
.pick::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 10%;
    width: 80%;
    height: 0.125rem;
    background-color: #fff;
}

/* 底部导航栏 */
.TabBar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 3.125rem;
    width: 100vw;
    font-weight: 400;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #989898;
    font-size: 1rem;
    background-color: #010101;
}
.TabBar .n{
    flex: 1;
    display: block;
    color:  #989898;
    text-align: center;
    text-decoration: none;
}
.TabBar a,a:hover,a:active,a:visited,a:link,a:focus{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
 }
/* 短视频内容 */

.video {
    width: 100vw;
    position: absolute;
    top: 0px;
    bottom: 3.125rem;
    background-color: #000;
    /* overflow: hidden; */
    z-index: 99;
}
/* .content {
    color: #fff;
} */
.video-swiper {
    width: 100vw;
    height: 100%;
    /* position: relative; */
    position: absolute;
}
.VideoPlay {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: absolute;
    touch-action: none;
}
.VideoPlay .videoItem{
    position: absolute;
    width: 100%;
    height: 100%;
}

.player {
    position: absolute;
    top: 0;
    bottom: 0;
    /* z-index bug开启不能点击视频 */
    z-index: -1; 
}

.rightColumn {
    position: absolute;
    right: 0.3125rem;
    bottom: 3.75rem;
    width: 3.75rem;
    height: 18.75rem;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
}
.rightColumn .iconGroup {
    text-align: center;
    color: #fff;
}
.rightColumn .iconGroup i{
    font-size: 2.2rem;
}
.rightColumn .iconGroup .avatar {
    position: relative;
    width: 3.125rem;
    height: 3.125rem;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 1.25rem;
}
.rightColumn .iconGroup .avatar img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rightColumn .iconGroup p{
    font-size: 0.75rem;
    position: relative;
    top: -10px;
}
.rightColumn .singerInfo {
    position: relative;
    width: 2.875rem;
    height: 2.875rem;
}
.rightColumn .singer{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #222;
    border-radius: 50%;
    animation: song linear 5s 0s infinite;
    z-index: 999;
}
/* 音乐头像动画效果 */
@keyframes song{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.rightColumn .singerInfo i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rightColumn .singerInfo .y1{
    position: absolute;
    animation:  music-left linear 4s 0s infinite, music-top cubic-bezier(.6,.31,.54,.82)  4s 0s infinite;
}
.rightColumn .singerInfo .y2{
    position: absolute;
    animation:  music-left linear 4s 2s infinite, music-top cubic-bezier(.6,.31,.54,.82)  4s 2s infinite;
}
.rightColumn .singerInfo .y3{
    position: absolute;
    animation:  music-left linear 4s 5s infinite, music-top cubic-bezier(.6,.31,.54,.82)  4s 5s infinite;
}
@keyframes music-left{
    0% {
        left: 50%;
        opacity: 1;
    }
    50% {
        left: -20px;
        opacity: 0.8;
    }
    100% {
        left: -0px;
        opacity: 0;
    }
}
@keyframes music-top{
    0% {
        top: 50%;
    }
    100% {
        top: -40px;
    }
}
.rightColumn .singer img{
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 底部 */
.bottomRow {
    position: absolute;
    left: 0.3125rem;
    bottom: 0.3125rem;
    width: 18.75rem; 
    color: #fff;
    font-size: 0.8rem;

}
.bottomRow .description {
    margin: 0.625rem 0;
}
.bottomRow .row .userId {
    font-weight: 600;
    font-size: 0.9375rem;
}
.bottomRow .row .songName{
    position: relative;
    display: inline-block;
    margin-left: 0.3125rem;
    top: -0.125rem;
}


